<mat-toolbar>
  <span><a routerLink="/">Coder App</a></span> 
  <span class="spacer"></span>
  <ul>
   <li>
       <a mat-button routerLink="/" routerLinkActive="mat-accent">Cursos</a>
   </li>
   <li>
       <a mat-button routerLink="/profesores" routerLinkActive="mat-accent">Profesores</a>
   </li>
   <li>
    <a mat-button routerLink="/inscripcion" routerLinkActive="mat-accent">Inscripciones</a>
</li>
   <li>
       <a mat-button routerLink="/alumnos" routerLinkActive="mat-accent">Alumnos</a>
   </li>
  </ul>
</mat-toolbar>
